/************************
	FONTS
*************************/
@font-face {
font-family: 'icomoon';
src:url('../icomoon/fonts/icomoon.eot?smpnu9');
src:url('../icomoon/fonts/icomoon.eot?#iefixsmpnu9') format('embedded-opentype'),
url('../icomoon/fonts/icomoon.woff?smpnu9') format('woff'),
url('../icomoon/fonts/icomoon.ttf?smpnu9') format('truetype'),
url('../icomoon/fonts/icomoon.svg?smpnu9#icomoon') format('svg');
font-weight: normal;
font-style: normal;
}
[class^="showEvents"], [class*=" showEvents"] {
font-family: 'icomoon';
speak: none;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
line-height: 1;

/* Better Font Rendering =========== */
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

/************************
	MAIN CSS
*************************/

body {
	font-family: 'Open Sans Condensed', sans-serif; 
	background-color: $my_blue;
}
div:before, div:after {
	clear: both;
}
small {
	font-size: 80%;
}
.wrapper {
	width: $primary_width; 
	height: $primary_height; 
	margin: 15em auto;}
.calendario {
	position: absolute; 
	width: $primary_width; 
	height: $primary_height; 
	background-color: $background_color; 
	font-size: 1.085em;
	.month {
		position: relative; 
		width: $second_width; 
		height: $month_height; 
		text-align: right; 
		list-style-type: none; 
		border-bottom: $month_bottom_border solid $primary_color; 
		border-left: $border_pixels solid $primary_color;
		li {
			display: inline-block; 
			width: $second_width; 
			height: 100%;
			a {
				text-decoration: none; 
				color: white;  
				border-radius: 5px; 
				text-align: center; 
				width: 30px; 
				height: 25px; 
				display: block;
			}
			span {
				position: absolute; 
				top:50%;
				&.showDate {
					width: 20%; 
					display: block; 
					right: 10%; 
					text-align: center; 
					top:0; 
					padding-top: 1em; 
					color: #ccc; 
					height: auto;
					.biggerFont {
						position: relative; 
						font-size: 1.5em; 
						color: $primary_color; 
						line-height: 1.3em;
					}
				}
				&.tooltip {
					position: absolute; 
					top: 0; 
					left: 0; 
					background-color: $darker_primary_color; 
					color: darken(white, 10%); 
					width: 0%; 
					height: 80px; 
					padding: 10px; 
					text-align: left;
				}
				&.showEventsPrev { @include prevnext(showEventsPrev); }
				&.showEventsNext { @include prevnext(showEventsNext); }
			}
		}
	}
	.days {
		color: $primary_color; 
		width: $second_width; 
		height: $days_height; 
		padding: $days-padding 0; 
		font-weight: bold; 
		border-left: $border_pixels solid $second_color;
		ul {
			width: 90%; 
			height: 100%; 
			padding: 0 5%;
			li {
				width: 14.28%; 
				display: inline-block; 
				text-align: center; 
				color: $second_color; 
				font-size: .8em;
			}
		}
	}
	.numdays { 
		width: $second_width; 
		height: $numdays_height; 
		color: $primary_color; 
		font-weight: bold; 
		border-left: $border_pixels solid $primary_color;
		.row {
			width: 90%; 
			height: 15%;  
			padding: 0 5%;
			div {
				float:left; 
				width: 13.89%; 
				height: 98%; 
				margin: .2%;}
			.calendarDay {
				background-color: white; 
				font-size: 1.5em; 
				line-height: 2em; 
				text-align: center;
				.showEventsmark {
					text-decoration: none; 
					position: relative; 
					bottom: 38px; 
					margin: 1px;
					&:before {@include navigation($my_blue, 0.5em, '\e602');}
				}
			}
		}
	}
	.boxyShow {
		z-index: 1000;
		width: 0%; 
		height: $primary_height; 
		background-color: white; 
		position: absolute; 
		top:0; 
		opacity: 0.9;
		h1 {
			font-size: 2em; 
			display: block; 
			height: 98px; 
			width: 100%; 
			border-bottom: 2px solid $primary_color; 
			color: $primary_color; 
			text-indent: 20px; 
			line-height: 3em;
		}
		.address {
			display: block; 
			height: 48px; 
			width: 580px; 
			border-bottom: 2px solid $second_color; 
			color: $second_color; 
			padding-right: 20px; 
			line-height: 3em; 
			text-align: right;
		}
		.text {
			display: block; 
			height: 300px; 
			width: 560px; 
			color: $primary_color; 
			padding: 20px; 
			line-height: 1.5em; 
			text-align: justify;
		}
		.showEventsclose {
			display: inline-block; 
			text-decoration: none; 
			position: absolute; 
			text-align: center; 
			top: -10px; 
			right: -10px; 
			background-color: white; 
			border-radius: 15%; 
			width: 0%; 
			smallheight: 0%;
			&:before {@include navigation($primary_color, 20px, '\e603');}
		}
	}
}

/************************
	END MAIN CSS
*************************/



/************************
	NAVIGATION ELEMENTS
*************************/