@mixin navigation($color, $font, $content) {
	color: $color; font-size: $font;
	content: $content;
}
@mixin prevnext($which) {
	$right:0;
	$content:'';
	@if $which == "showEventsPrev" {
		$right: 30%;
		$content: '\e600';
	}
	@if $which == "showEventsNext" {
		$right: 5%;
		$content: '\e601';
	}
	right: $right;
	a:before {@include navigation($primary_color, 20px, $content);}
}