.sass-cache
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
show.me.events.sublime-project
show.me.events.sublime-workspace
test.css
css/_globals.scss
css/_mixins.scss
css/_reset.scss
css/_variables.scss
css/test.css
css/test.css.map
css/test.scss