.sass-cache
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
*.sublime-project
*.sublime-workspace
test.css
*.scss
css/_globals.scss
css/_mixins.scss
css/_reset.scss
css/_variables.scss
css/test.css
css/test.css.map
css/test.scss